
body, html {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffa000;
}

p {
  font-size: calc(1px + 4vh);
  color: #0e0e0e;
  padding: 20%;
  font-weight: bold;
}

.img {
  width: 20vh;
}

.mensagem {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}